vendor/

.DS_Store
src/.DS_Store
src/Core/.DS_Store
src/Core/src/.DS_Store

.idea
bin/
doc/
doc/*
composer.phar
composer.lock
node_modules

## node package ignore
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
vendor/
ssh/
jspm_packages
.npm
.node_repl_history
.composer/
